<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>20/02/26 14:52:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Vetty_launch.Create_case3()[pri:2, instance:Vetty.Vetty_launch@cb5822]">Create_case3</td> 
  <td>main@1007603019</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>20/02/26 14:51:49</td>   <td>-44691</td> <td>&nbsp;</td><td title="&gt;&gt;Vetty_launch.Launch_case1()[pri:0, instance:Vetty.Vetty_launch@cb5822]">&gt;&gt;Launch_case1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1007603019</td>   <td></td> </tr>
</table>
