<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>20/02/26 22:20:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Vetty_launch.Create_case3()[pri:2, instance:Vetty.Vetty_launch@cc285f4]">Create_case3</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>20/02/26 22:19:37</td>   <td>-77276</td> <td>&nbsp;</td><td title="&gt;&gt;Vetty_launch.Launch_case1()[pri:0, instance:Vetty.Vetty_launch@cc285f4]">&gt;&gt;Launch_case1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>20/02/26 22:19:48</td>   <td>-66205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Vetty_launch.Login_case2()[pri:1, instance:Vetty.Vetty_launch@cc285f4]">Login_case2</td> 
  <td>main@985397764</td>   <td></td> </tr>
</table>
